@using Nancy.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model MasRoleAccess

@{
    ViewBag.Title = "Role Access";
    string jsonModule = HttpContextAccessor.HttpContext.Session.GetString("sessModules");
    List<SysModule> sysModules = !string.IsNullOrEmpty(jsonModule)
                                ? new JavaScriptSerializer().Deserialize<List<SysModule>>(jsonModule)
                                : new List<SysModule>();
}
<style type="text/css">
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .image-preview-input input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .image-preview-input-title {
        margin-left: 2px;
    }
</style>

@using (Html.BeginForm("PostAsync", "RoleAccess", FormMethod.Post, new { id = "frmInput", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="modal-header">
        <h3>
            <i class="fa fa-user"></i>&nbsp;&nbsp;<span id="spnActionName"></span> @ViewBag.Title
        </h3>
    </div>

    <div class="modal-body" style="max-height: calc(100vh - 240px) !important; overflow-y: auto !important;">
        @Html.HiddenFor(model => model.RoleAccessId)

        <div class="row">
            <div class="col-md-3" id="dvRoleInfo">
                <div class="form-group col-md-4">
                    <label>Role Code</label>
                    @Html.TextBoxFor(model => model.RoleCode, new { @class = "form-control", @required = true })
                </div>
                <div class="form-group col-md-8">
                    <label>Role Name</label>
                    @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control", @required = true })
                </div>
                <div class="form-group col-md-12">
                    <label>Role Description</label>
                    @Html.TextAreaFor(model => model.RoleDescription, new { @class = "form-control", @required = true, @rows = 5 })
                </div>
            </div>
            <div class="col-md-9" id="dvRoleAccess">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4><b>Role Access</b></h4>
                    </div>

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                @{
                                    int iIdx = 0;
                                    foreach (SysModule sysModule in sysModules)
                                    {
                                        if (iIdx == 0)
                                        {
                                            <li class="active"><a href="#tab_@sysModule.ModuleCode" data-toggle="tab">@sysModule.ModuleName</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#tab_@sysModule.ModuleCode" data-toggle="tab">@sysModule.ModuleName</a></li>
                                        }
                                        iIdx++;
                                    }
                                }
                            </ul>
                            <div class="tab-content">
                                @{
                                    iIdx = 0;
                                    string sActive = "";
                                    foreach (SysModule sysModule in sysModules)
                                    {
                                        string sChkAllNameByObject = "chkAllMemberByModule" + sysModule.ModuleId;
                                        string sChkAllValueByObject = sysModule.ModuleId.ToString();
                                        string sChkAllOnClickByObject = "chkAllMemberByModule_Change(this)";

                                        sActive = iIdx == 0 ? "active" : "";

                                        <div class="tab-pane @sActive" id="tab_@sysModule.ModuleCode">
                                            <label>
                                                <div class="btn btn-default btn-flat" style="width: 200px;">
                                                    <input type="checkbox" name="@sChkAllNameByObject" value="@sChkAllValueByObject"
                                                           onclick="@sChkAllOnClickByObject" />&nbsp;&nbsp;All Access
                                                </div>
                                            </label>
                                            <br />&nbsp;
                                            <table id="example1" class="table table-bordered table-striped">
                                                @foreach (SysModuleObject sysModuleObject in sysModule.SysModuleObject)
                                                {
                                                    string sChkAllName = "chkAllMemberByObject" + @sysModuleObject.ModuleObjectId;
                                                    string sChkAllValue = @sysModuleObject.ModuleId + "*" + @sysModuleObject.ModuleObjectId;
                                                    string sChkAllOnClick = "chkAllMemberByObject_Change(this)";
                                                    <thead>
                                                        <tr>
                                                            <th style="">
                                                                Sub Module @sysModuleObject.ObjectName&nbsp;&nbsp;
                                                                <label style="float:right">
                                                                    <div class="btn btn-default btn-flat" style="width: 200px;">
                                                                        <input type="checkbox" name="@sChkAllName" value="@sChkAllValue" onclick="@sChkAllOnClick" />
                                                                        &nbsp<span>Check&nbsp All </span>
                                                                    </div>
                                                                </label>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div style="text-align:left">
                                                                    @foreach (SysModuleObjectMember sysModuleObjectMember in sysModuleObject.SysModuleObjectMember)
                                                                    {
                                                                        if (sysModuleObjectMember.IsVisible)
                                                                        {
                                                                            <label style="width:15%">
                                                                                @{
                                                                                    string sDivValue = string.Format("{0}*{1}*{2}*{3}*{4}",
                                                                                                                sysModuleObject.ModuleId,
                                                                                                                sysModuleObject.ModuleObjectId,
                                                                                                                sysModuleObjectMember.ModuleObjectMemberId,
                                                                                                                0,
                                                                                                                sysModuleObjectMember.MemberName);
                                                                                    string sChkValue = string.Format("{0}*{1}*{2}*{3}*{4}",
                                                                                                                    sysModuleObject.ModuleId,
                                                                                                                    sysModuleObject.ModuleObjectId,
                                                                                                                    sysModuleObjectMember.ModuleObjectMemberId,
                                                                                                                    0,
                                                                                                                    sysModuleObjectMember.MemberName);

                                                                                    string sChkOnClick = "chkMember_Change(this)";

                                                                                    <div id="dv_@sDivValue" class="btn btn-danger btn-flat" style="width: 100%">
                                                                                        <input type="checkbox" id="chkMember_@sysModuleObjectMember.ModuleObjectMemberId" name="chkMember" value="@sChkValue" onclick="@sChkOnClick" />
                                                                                        @sysModuleObjectMember.MemberName
                                                                                    </div>
                                                                                }
                                                                            </label>
                                                                        }
                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                            </table>
                                        </div>
                                        iIdx++;
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-6 pull-right no-padding">
            <div class="form-group col-md-6">
                <button id="btnSubmit" type="submit" name="Save" class="form-control btn btn-success btn-flat">
                    <i class="fa fa-save"></i> &nbsp; Simpan
                </button>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="form-control btn btn-default btn-flat" onclick="fClose()">
                    <i class="fa fa-close"></i> &nbsp; Tutup
                </button>
            </div>
        </div>
    </div>
}

<script>

    $('#mdlInput').on('shown.bs.modal', function () {
        try {
        }
        catch (err) {
            swal({
                title: 'From Catch',
                text: err.message,
                type: 'warning'
            }).then(function () {
                //fClose();
            })
        }
    });

    $('#frmInput').submit(function (e) {
        e.preventDefault();

        var serializedForm = $(this).serialize();
            $.ajax({
            url: '@Url.Action("PostAsync", "RoleAccess")',
            type: "POST",
            data: serializedForm,
            success: function (data) {
                if (data["isSuccess"]) {
                    swal({
                        title: "Success...",
                        text: data["message"],
                        type: 'success'
                    }).then(function () {
                        CloseModalInput('tblRoleAccessList');
                    })
                } else {
                    swal({
                        title: "Oops, Something wrong with your Request\n\n Reference Number : " + data["referenceNumber"] + "\n\n",
                        text: "Please safe the Reference Number and call your System Administrator.",
                        type: 'warning'
                    })
                }
            },
            error: function (xhr, status, error) {
                swal({
                    title: window.location.href,
                    text: "( Error " + xhr.status + " ) - " + error,
                    type: 'warning'
                }).then(function () {
                    CloseModalInput('tblRoleAccessList');
                })
            }
        });
        return false;
    });

</script>
