@using Nancy.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model SysUserLogDetail

@{
    ViewBag.Title = "User Log";
}
<style type="text/css">
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .image-preview-input input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .image-preview-input-title {
        margin-left: 2px;
    }
</style>

@using (Html.BeginForm("PostAsync", "SysUserLog", FormMethod.Post, new { id = "frmInput", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="modal-header">
        <h3>
            <i class="fa fa-user"></i>&nbsp;&nbsp;<span id="spnActionName"></span> @ViewBag.Title
        </h3>
    </div>

    <div class="modal-body" style="max-height: calc(100vh - 240px) !important; overflow-y: auto !important;">
        @Html.HiddenFor(model => model.UserLogId)

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h5><b>User Log</b></h5>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <table style="width:100%"
                                   class="table table-bordered table-striped dataTable no-footer"
                                   role="grid">
                                <tr>
                                    <td style="width:30%!important">Reference Number</td>
                                    <td>:</td>
                                    <td style="width:70%!important"><b>@Html.TextBoxFor(model => model.ReferenceNumber, new { @class = "col-md-12", @style = "border: none!important; background: none!important;" })</b></td>
                                </tr>
                                <tr>
                                    <td style="width:30%!important">Log Date</td>
                                    <td>:</td>
                                    <td style="width:70%!important"><b>@Html.TextBoxFor(model => model.LogDate, "{0:dddd, dd MMM yyyy}", new { @class = "col-md-12", @style = "border: none!important; background: none!important;" })</b></td>
                                </tr>
                                <tr>
                                    <td style="width:30%!important">Action</td>
                                    <td>:</td>
                                    <td style="width:70%!important"><b>@Html.TextBoxFor(model => model.MemberName, new { @class = "col-md-12", @style = "border: none!important; background: none!important;" })</b></td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <table style="width:100%"
                                   class="table table-bordered table-striped dataTable no-footer"
                                   role="grid">
                                <tr>
                                    <td style="width:30%!important">Actor</td>
                                    <td>:</td>
                                    <td style="width:70%!important"><b>@Html.TextBoxFor(model => model.UserName, new { @class = "col-md-12", @style = "border: none!important; background: none!important;" })</b></td>
                                </tr>
                                <tr>
                                    <td style="width:30%!important">Object</td>
                                    <td>:</td>
                                    <td style="width:70%!important"><b>@Html.TextBoxFor(model => model.ObjectName, new { @class = "col-md-12", @style = "border: none!important; background: none!important;" })</b></td>
                                </tr>
                                <tr>
                                    <td style="width:30%!important">Reference Id</td>
                                    <td>:</td>
                                    <td style="width:70%!important"><b>@Html.TextBoxFor(model => model.RefId, new { @class = "col-md-12", @style = "border: none!important; background: none!important;" })</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <h5><b>Before Change</b></h5>
                    </div>
                    <div class="box-body">
                        @*@Html.TextAreaFor(model => model.PreviousDetail, new { @class = "col-md-12", @style = "border: none!important; background: none!important;", @rows = 15 })*@
                        <table id="tblDetailBefore" style="width:100%"
                               class="table table-bordered table-striped dataTable no-footer"
                               role="grid">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header">
                        <h5><b>After Change</b></h5>
                    </div>
                    <div class="box-body">
                        @*@Html.TextAreaFor(model => model.Detail, new { @class = "col-md-12", @style = "border: none!important; background: none!important;", @rows = 15 })*@
                        <table id="tblDetail" style="width:100%"
                               class="table table-bordered table-striped dataTable no-footer"
                               role="grid">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12" style="text-align:right !important;">
            <button id="btnSubmit" type="submit" class="btn btn-success btn-flat" style="width:20% !important; margin-right:4px;">
                <i class="fa fa-save"></i> &nbsp; Simpan
            </button>

            <button type="button" class="btn btn-default btn-flat" style="width:20% !important; margin-left:4px;" onclick="fClose()">
                <i class="fa fa-close"></i> &nbsp; Tutup
            </button>
        </div>
    </div>
}

<script>

    $('#mdlInput').on('shown.bs.modal', function () {
        try {
        }
        catch (err) {
            swal({
                title: 'From Catch',
                text: err.message,
                type: 'warning'
            }).then(function () {
                //fClose();
            })
        }
    });

    $('#frmInput').submit(function (e) {
        e.preventDefault();

        var serializedForm = $(this).serialize();
            $.ajax({
            url: '@Url.Action("PostAsync", "SysUserLog")',
            type: "POST",
            data: serializedForm,
            success: function (data) {
                if (data["isSuccess"]) {
                    swal({
                        title: "Success...",
                        text: data["message"],
                        type: 'success'
                    }).then(function () {
                        CloseModalInput('tblSysUserLogList');
                    })
                } else {
                    swal({
                        title: "Oops, Something wrong with your Request\n\n Reference Number : " + data["referenceNumber"] + "\n\n",
                        text: "Please safe the Reference Number and call your System Administrator.",
                        type: 'warning'
                    })
                }
            },
            error: function (xhr, status, error) {
                swal({
                    title: window.location.href,
                    text: "( Error " + xhr.status + " ) - " + error,
                    type: 'warning'
                }).then(function () {
                    CloseModalInput('tblAspNetUsersList');
                })
            }
        });
        return false;
    });

</script>
