@using Nancy.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model SysParam

@{
    ViewBag.Title = "System Parameter";
}
<style type="text/css">
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .image-preview-input input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .image-preview-input-title {
        margin-left: 2px;
    }
</style>

@using (Html.BeginForm("PostAsync", "SysParam", FormMethod.Post, new { id = "frmInput", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="modal-header">
        <h3>
            <i class="fa fa-user"></i>&nbsp;&nbsp;<span id="spnActionName"></span> @ViewBag.Title
        </h3>
    </div>

    <div class="modal-body" style="max-height: calc(100vh - 240px) !important; overflow-y: auto !important;">
        @Html.HiddenFor(model => model.Code)

        <div class="row">
            <div class="form-group col-md-4">
                <label>Name</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = true })
            </div>
            <div class="form-group col-md-8">
                <label>Description</label>
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @required = true })
            </div>
            <div class="form-group col-md-12">
                <label>Value</label>
                @Html.TextAreaFor(model => model.Value, new { @class = "form-control", @required = true, @rows = 5 })
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12" style="text-align:right !important;">
            <button id="btnSubmit" type="submit" class="btn btn-success btn-flat" style="width:20% !important; margin-right:4px;">
                <i class="fa fa-save"></i> &nbsp; Simpan
            </button>

            <button type="button" class="btn btn-default btn-flat" style="width:20% !important; margin-left:4px;" onclick="fClose()">
                <i class="fa fa-close"></i> &nbsp; Tutup
            </button>
        </div>
    </div>
}

<script>

    $('#mdlInput').on('shown.bs.modal', function () {
        try {
        }
        catch (err) {
            swal({
                title: 'From Catch',
                text: err.message,
                type: 'warning'
            }).then(function () {
                //fClose();
            })
        }
    });

    $('#frmInput').submit(function (e) {
        e.preventDefault();

        var serializedForm = $(this).serialize();
            $.ajax({
            url: '@Url.Action("PostAsync", "SysParam")',
            type: "POST",
            data: serializedForm,
            success: function (data) {
                if (data["isSuccess"]) {
                    swal({
                        title: "Success...",
                        text: data["message"],
                        type: 'success'
                    }).then(function () {
                        CloseModalInput('tblSysParamList');
                    })
                } else {
                    swal({
                        title: "Oops, Something wrong with your Request\n\n Reference Number : " + data["referenceNumber"] + "\n\n",
                        text: "Please safe the Reference Number and call your System Administrator.",
                        type: 'warning'
                    })
                }
            },
            error: function (xhr, status, error) {
                swal({
                    title: window.location.href,
                    text: "( Error " + xhr.status + " ) - " + error,
                    type: 'warning'
                }).then(function () {
                    CloseModalInput('tblAspNetUsersList');
                })
            }
        });
        return false;
    });

</script>
