@using TTIS.WebUi.Common
@using TTIS.WebUi.Services

@inject ISecurity Security

@{
    ViewData["Title"] = "Vehicle User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalHeaderScript
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/timepicker/bootstrap-timepicker.min.css")">
}

<section class="content-header">
    <h1>
        <i class="fa fa-Device"></i>&nbsp;@ViewBag.Title
        <small></small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title"> <i class="fa fa-search"></i>&nbsp;  Filter </h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group col-md-12">
                        <label>Keyword</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" id="txtKeyword" name="p_sKeyword" class="form-control" placeholder="Keyword..." onkeyup="RefreshDataTable('tblVehicleUserList')">
                        </div>
                    </div>

                    <div class="form-group col-md-2 pull-right">
                        <a style="width:100%" class="btn btn-success btn-flat" onclick="ResetFilter()"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reset Filter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblVehicleUserList"
                                   style="width:100%"
                                   class="table table-bordered table-striped dataTable no-footer"
                                   role="grid"></table>
                        </div>

                        <script>

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section mdlInput{
    @Html.Partial("~/Views/VehicleUser/_InputForm.cshtml", null)
    @Html.Partial("~/Views/VehicleUser/_InputScript.cshtml", null)
}

@section AdditionalFooterScript
{
    <script type="text/javascript" src="@Url.Content("~/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/plugins/timepicker/bootstrap-timepicker.min.js")"></script>

    <script id="DataTableScript">
        function ResetFilter() {
            $("#txtKeyword").val("");
            RefreshDataTable("tblVehicleUserList");
        }

        $(document).ready(function () {
            $("#mdlInputDialog").width("100%");
            LoadVehicleUserList();
            LoadVehicleUserHistoryList();
        });

        
        function LoadVehicleUserList() {
            $('#tblVehicleUserList').DataTable({
                "ajax": {
                    "url": "@Url.Action("VehicleUserListAsync", "VehicleUser")",
                    "type": "POST",
                    "data": function (d) {
                        d.p_sKeyword = $("#txtKeyword").val();
                    },
                },
                "columns": [
                    {
                        "title": "VehicleId",
                        "data": "vehicleId",
                        className: "hidden",
                    },
                    {
                        "title": "VehicleUserId",
                        "data": "vehicleUserId",
                        className: "hidden",
                    },
                    {
                        "title": "Action",
                        "width": "15%",
                        "data" : "isNeedApproval",
                        className: "dt-col-center",
                        render: function (d) {
                            var sDisable = d == true ? 'disabled' : '' ;
                            var sReturn = d == true ? '<span style="color:red!important"><b>Waiting for Approval Process<b/></span><br/>' : '';

                            if ('@Security.IsHaveAccessRight((int)SecurityEnumeration.ModuleObjectMember.VEH_USR_VIEW)' == 'True') {
                                sReturn += "<button onclick = 'fShowDetail(this)' class='btn btn-success btn-sm btn-flat fa fa-eye'></button> ";
                            }
                            if ('@Security.IsHaveAccessRight((int)SecurityEnumeration.ModuleObjectMember.VEH_USR_EDIT)' == 'True') {
                                sReturn += "<button onclick = 'fEdit(this)' class='btn btn-warning btn-sm btn-flat fa fa-edit'" + sDisable + "></button> ";
                            }
                            if ('@Security.IsHaveAccessRight((int)SecurityEnumeration.ModuleObjectMember.VEH_USR_DELETE)' == 'True') {
                                sReturn += "<button onclick = 'fDelete(this)' class='btn btn-danger btn-sm btn-flat fa fa-close'" + sDisable + "></button> ";
                            }
                            return sReturn;
                        },
                    },
                    {
                        "title": "Code",
                        "width": "10%",
                        "data": "vehicleCode",
                    },
                    {
                        "title": "Plate",
                        "data": "plate",
                    },
                    {
                        "title": "Usage",
                        "data": "usageType",
                    },
                    {
                        "title": "Vehicle User",
                        "data": "vehicleUser",
                    },
                ],
                "processing": true,
                "serverSide": true,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                "filter": false,
                "sort": false,
                "orderMulti": false
            });
        }

        function LoadVehicleUserHistoryList() {
            $('#tblVehicleUserHistoryList').DataTable({
                "ajax": {
                    "url": "@Url.Action("VehicleUserHistoryListAsync", "VehicleUser")",
                    "type": "POST",
                    "data": function (d) {
                        d.p_sKeyword = $("#txtKeyword").val();
                    },
                },
                "columns": [
                    {
                        "title": "Vehicle User",
                        "data": "vehicleUser",
                    },
                    {
                        "title": "Usage",
                        "data": "usageType",
                    },
                    {
                        "title": "From",
                        "data": "dateFrom",
                        render: function (d) {
                            return moment(d).utcOffset(420).format('DD MMM YYYY - HH:mm:ss');
                        }
                    },
                    {
                        "title": "To",
                        "data": "dateTo",
                        render: function (d) {
                            return moment(d).utcOffset(420).format('DD MMM YYYY - HH:mm:ss');
                        }
                    },
                ],
                "processing": true,
                "serverSide": true,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                "filter": false,
                "sort": false,
                "orderMulti": false
            });
        }
    </script>
}
